<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Reply ChatBot</h1>
    <h3>Implementazione di un ChatBot</a> utilizzando Flask-chatterbot. Supporto anche al Riconoscimento Vocale</h3>
    <div>
      {% block txtInput %}
        <div id="chatbox">
          <p class="botText"><span>Ciao, sono Reply ChatBot. Può scrivere oppure cliccare sull'icona del microfono per parlare</span></p>
        </div>
      {% endblock %}
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" value="{{msg}}">
        <input id="buttonInput" type="submit" value="Send">
        <a id="popup" href="#">
          <img src="/static/microfono3.png" alt="Clicca e dì qualcosa" title="Clicca e dì qualcosa"/>
        </a>
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function getResponseSpeechRecognition() {
            $.get("/popupTk").done(function(data) {
              var data_ = data.split(";");
              var userHtml_ = '<p class="userText"><span>' + data_[0] + '</span></p>';
              $("#chatbox").append(userHtml_);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              var botHtml = '<p class="botText"><span>' + data_[1] + '</span></p>';
              $("#chatbox").append(botHtml);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        });
        $("#popup").click(function() {
          getResponseSpeechRecognition()
        });
      </script>
    </div>
  </body>
</html>